$background-color: lightgreen;
$foreground-color: green;
$text-color: black;
$links-color: black;
$links-hover-color: white;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $links-hover-color;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: $links-color;
    border-radius: 100px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: lightblue;
}

#navigation {
    background-color: aliceblue;
    position: fixed;
    width: 95%;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid $links-hover-color;
    border-right:  1px solid $links-hover-color;

    #logo {
        padding-left: 30px;
        list-style: none;
    }

    #nav {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-left: auto;
        align-items: center;
        font-size: 20px;
        text-decoration: none;
        color: $links-color;

        #header  {//in projects.html file
            border: none;

            &:hover {
                border: none;
                background-color: inherit;
            }
        }

        li {
            margin-left: 20px;
            box-sizing: border-box;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid $links-color;
            
            &:hover {
                background-color: $links-color;
                color: $links-hover-color;
                transition: all 0.3s;

                a {
                    text-decoration: none;
                    color: $links-hover-color;
                }
    
                a:visited {
                    color: $links-hover-color;
                }
            }

            a {
                text-decoration: none;
                color: $links-color;
            }

            a:visited {
                color: $links-color;
            }
        }
    }
}


//index.html file

#home {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    button {
        height: 50px;
        width: 150px;
        font-size: 20px;
        border-radius: 50px;
        padding: 10px;
        border: none;
        background-color: $background-color;
        border: 1px solid $links-color;
        margin-top: 50px;

        a {
            text-decoration: none;
            color: $links-color;
        }

        a:visited {
            color: $links-color;
        }

        &:hover {
            background-color: $links-color;
            color: $links-hover-color;
            transition: all 0.3s;

            a {
                text-decoration: none;
                color: $links-hover-color;
            }

            a:visited {
                color: $links-hover-color;
            }
        }
    }

    #home-content {
        margin-left: 50px;
    }

    h1 {
        font-size: 100px;
        color: $links-color;

        span {
            color: $links-hover-color;
        }
    }

    h2 {
        font-size: 50px;
        color: $links-color;

        span {
            color: aliceblue;
        }
    }
}

#about {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    #about-content {
        margin-left: 50px;
    }

    h1 {
        font-size: 100px;
        color: $links-color;

        span {
            color: $links-hover-color;
        }
    }

    p {
        font-size: 50px;
        color: $links-color;
        display: flex;
    }
}

#skills {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    
    p {
        ul {
            list-style-type: none;
            
            svg {
                margin: 10px;
            }
        }
    }

    #skills-content {
        margin-left: 50px;
    }

    h1 {
        font-size: 100px;
        color: $links-color;
    }

    p {
        font-size: 50px;
        color: $links-color;
    }
}

#contact {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    #contact-content {
        margin-left: 50px;
    }

    h1 {
        font-size: 100px;
        color: $links-color;

        span {
            color: $links-hover-color;
        }
    }

    p {
        font-size: 50px;
        color: $links-color;
    }
}

//projects.html file

#projects {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    ul {
        list-style: none;

        li {
            a {
                border: 1px solid $links-color;
                padding: 10px;
                border-radius: 50px;
                
                &:hover {
                    background-color: $links-color;
                    color: $links-hover-color;
                    transition: all 0.3s;
        
                    a {
                        text-decoration: none;
                        color: $links-hover-color;
                    }
        
                    a:visited {
                        color: $links-hover-color;
                    }
                }
            }  
        
            a {
                text-decoration: none;
                color: $links-color;
            }
        }
    }

    #projects-content {
        margin-left: 50px;
    }

    h1 {
        font-size: 100px;
        color: $links-color;
    }

    a {
        font-size: 60px;
    }

    p {
        font-size: 30px;
        color: $links-color;
        padding: 15px;
    }  
}