body {
    background-color:lightblue;
}

.pfp {
    height: 30%;
    width: 30%;
    border: 2px white solid;
    border-radius: 15%
}

.qrimg {
    height: 30%;
    width: 30%;
}

.body_div {
    text-align: center;
}

a {
    text-decoration: none;
}

.x_icon, .github_icon, .outlook_icon {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

footer {
    text-align: center;
    padding-top: 70%;
}