body {
    background-position: center;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

header, p {
    text-align: center;
}

h1 {
    border: 2px black double;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.mainp {
    border: 5px black;
}