/*everything*/
body {
    background-color:lightblue;
    font-family: 'Courier New', Courier, monospace;
}

.body_div {
    text-align: center;
    box-sizing: border-box;
    height: auto;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
}

#txt {
    border: 0;
    border-radius: 5px;
    height: auto;
    width: 70%;
    background-color: lightblue;
}

a {
    text-decoration: none;
}

#btn {
    border: 0;
    border-radius: 5px;
    background-color: aquamarine;
    width: 30%;
    height: 20%;
}

/*index | homepage*/
.pfp {
    height: 30%;
    width: 30%;
    border: 2px white solid;
    border-radius: 15%
}


.x_icon, .github_icon, .outlook_icon {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}


/*qrcode*/
.qrimg {
    height: 30%;
    width: 30%;
}

/*elevy*/