* {
    font-family: 'Courier New', Courier, monospace;
    transition: all 100ms;
}

body {
    background-color:lightblue;
}

.body_div {
    text-align: center;
    box-sizing: border-box;
    height: 75%;
    width: 75%;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    box-shadow: 10px 10px teal;
    font-size: 120%;
}

.bio {
    box-sizing: border-box;
    background-color: lightblue;
    margin: auto 40px;
    border-left: 1px black solid;
    padding: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.pfp {
    height: 30%;
    width: 30%;
    border-radius: 15%
}

.pfp:hover {
    box-shadow: 5px 5px lightblue;
}

#dark {
    text-align: right;
    border: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 20px;
    background-color: lightblue;
    color: black;
}

#dark:hover {
    box-shadow: 2px 2px darkgreen;
}

.x_icon{
    height: 20px;
    width: 20px;
}

#footer {
    box-sizing: border-box;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 5px 5px darkgreen;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
        .body_div {
            background-color: rgb(1, 1, 53);
            box-shadow: 10px 10px rgb(0, 0, 100);
            color: white;
        }

        .bio {
            box-sizing: border-box;
            background-color: rgb(1, 1, 53);
            margin: auto 40px;
            border-left: 1px blue solid;
            cursor: default;
        }

        .bio:hover {
            background-color: rgb(0, 0, 100);
        }

        #dark {
            background-color: rgb(0, 0, 100);;
            color: white;
        }

        .pfp:hover {
            box-shadow: 5px 5px blue;
        }
        
        #dark:hover {
            box-shadow: 2px 2px blue;
        }

        #link:link {
            color: white;
            text-decoration: none;
        }

        #link:visited {
            color: white;
            text-decoration: none;
        }

        #link:hover {
            color: red;

        }

        #footer {
            background-color: rgb(1, 1, 53);
            box-shadow: 5px 5px rgb(0, 0, 100);
        }
    }