@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&family=Space+Grotesk&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}
* a:hover {
  color: red;
}

#wrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  max-width: 1400px;
  display: flex;
  height: 800px;
}

#navbar {
  padding: 0 10px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
#navbar #nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-weight: 700;
}
#navbar #nav li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  border: 1px solid black;
  width: 1200px;
  font-size: 25px;
}
#main #main-text {
  padding: 0 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main #main-text #bold-name {
  font-weight: 700;
}
#main #main-text .quote-body {
  text-align: justify;
  text-justify: inter-word;
}
#main #main-text #quote-auth {
  text-align: end;
}
#main #main-text #resume {
  font-size: 1.2rem;
}

#side {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
#side p {
  padding: 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  margin-top: 30px;
}

.dark-mode {
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}
.dark-mode #main {
  border: 1px solid white;
}
.dark-mode a {
  color: white;
}
.dark-mode a:hover {
  color: red;
}

@media screen and (max-width: 1300px) {
  #container {
    max-width: 900px;
    height: 700px;
  }
  #main {
    width: 800px;
    font-size: 20px;
  }
  #main #main-text {
    padding: 0 100px;
  }
  #side {
    font-size: 15px;
  }
  .dark-mode #main {
    border: 1px solid white;
  }
}
@media screen and (max-width: 700px) {
  #container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 100%;
    margin-top: 30px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
  }
  #navbar #nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #navbar #nav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-contact {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-contact #left-box {
    width: 150px;
    margin: auto;
  }
  .main-contact #left-box #main-text {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .main-contact #left-box #bold-name {
    font-weight: 600;
  }
  .main-contact #right-box {
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid black;
  }
  #main {
    width: 350px;
    font-size: 20px;
    border: none;
  }
  #main #main-text {
    padding: 10px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main #main-text #bold-name {
    font-weight: 700;
  }
  #main #main-text #quote-auth {
    font-style: italic;
    text-align: end;
  }
  #main #main-text #resume {
    font-size: 1.2rem;
  }
  #side {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    user-select: none;
  }
  #side .github-icon {
    margin-top: 10px;
  }
  #footer {
    visibility: hidden;
  }
  .dark-mode #main {
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
